body {
	background: white;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.fullbody{
	margin:auto;
	padding:10px;
	text-align: center;
	margin-top: 100px;
	width: 87vw;
}
form {
	border: 3px solid #ccc;
	padding: 10px;
}
.content2{
    margin:auto;
	padding:10px;
}
h1 {
	font-size: 40px;
	color: white;
}

h3 {
	text-align: center;
	padding: 0px;
	margin: 0px;
	font-size: 26px;
	color: #636363;
}
input[type=text], input[type=password], input[type=email]{
	width: 100%;
	padding: 12px 20px;
	margin: 5px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	background-color: #636363;
	color: white;
	padding: 14px 20px;
	margin: 10px, 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
submit {
	background-color: #636363;
	color: white;
	padding: 14px 20px;
	margin: 10px, 0;
	border: none;
	cursor: pointer;
	width: 100%;
}