{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>
    <script type="text/javascript" src="{% static  'css/jquery-3.5.1.js' %}"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

        <title>{% block title %}Inpensa{% endblock %}</title>
        <link href="{% static  'css\sb-admin-2.min.css' %}" rel="stylesheet">
        <link href="{% static  'css\styles.css' %}" rel="stylesheet">

</head>

<script>
    var data_list;
    $.ajax({
        type: 'get',
        url: "/ajax/data_list",
        dataType: "json",
        data: {
            dsid: 0
        },
        error: function(xhr,textStatus,err){
        },
        success: function(data){
            data_obj = JSON.parse(data);
            var output = ' <form action = "/edit_2/" method="get">';
            $.each(data_obj, function(index, val){
                output+='<a class="collapse-item" href="/edit_2/" formmethod="get" type ="submit" name="dsid1" value='+val["id"]+'>'+val["name"]+'</a>';
            });
            output+= '</form>'
            $(document).find('.bg-white').html(output);
        },
        failure: function(){
            alert('An error occured: Please try again');
        }
    });
    //$.each(data_list, function(index, val)) {}
    
</script>




<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            
            <!-- Sidebar Message -->
            <div class="sidebar-card" style="background-color: white; margin-top: 10px; padding-top: 10px; padding-bottom: 14px;">
                <img src="{% static 'media\Inpensa_Logo.png' %}" alt="Inpensa Software" class="responsive" style="width:100%; height:100%">
            </div>
            

            <!-- Sidebar - Brand -->
            
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/" style="padding-top: 2px">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Welcome,<br>{{user.first_name}}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Items - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/dash/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Nav Items - Set List Edits -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i href="{% static 'media\folderman.png' %}" class="sidebar-brand-icon"></i>
                    <span>Edit Portfolios</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        
                        
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - Logout -->
            <li class="nav-item">
                <a class="nav-link" href="/logout/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Logout</span></a>
            </li>


        </ul>
        
        <!-- Makes Sidebar Dropdowns Work -->
        <script src="{% static  'css\bootstrap.bundle.min.js' %}"></script>        
        <!-- End of Sidebar -->



        <!-- Main Content -->        
    <div id="fullbody">
        {% block content %}
        {% endblock %}
    </div>
    </div>
</body>
</html>