{% load static %}
<!DOCTYPE html>
<html lang = "en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

        <title>{% block title %}Inpensa{% endblock %}</title>
        <link href="{% static  'css\sb-admin-2.min.css' %}" rel="stylesheet">
        <link href="{% static  'css\styles.css' %}" rel="stylesheet">
        
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">


            
            <!-- Sidebar Message -->
            <div class="sidebar-card" style="background-color: white; margin-top: 10px; padding-top: 10px; padding-bottom: 14px;">
                <img src="{% static 'media\Inpensa_Logo.png' %}" alt="Inpensa Software" class="responsive" style="width:100%; height:100%">
            </div>
            

            <!-- Sidebar - Brand -->
            
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/" style="padding-top: 2px">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Welcome, {{user.first_name}}</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Items - Sidebar Links -->
            <li class="nav-item active">
                <a class="nav-link" href="/dash/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/sets/upload">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Upload Dataset</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/sets/upload">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Speed</span></a>
            </li>

                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/logout/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Logout</span></a>
            </li>


        </ul>
        <!-- End of Sidebar -->
        <!-- Main Content -->
        <div id="content">
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>