{% extends 'base.html' %}
{% block title %}Dashboard{% endblock%}
{% block content %}

<style>
    /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}
.highcharts-credits{
    display:none
}
.highcharts-color-1 {
  fill: rgb(0, 80, 185);
}
.highcharts-color-2 {
  fill: rgb(184, 0, 53);
}
.highcharts-color-3 {
  fill: rgb(0, 199, 217);
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 96%;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
button{
    color: black;
    background-color: white;
    padding-left: 6px;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
    box-shadow: 0px 0px white;
}

.highcharts-figure, .highcharts-data-table table {
    min-width:80vw; 
    max-width: 90vw;
    margin: 1em auto;
}



</style>

<script src="https://code.highcharts.com/highcharts.js"></script>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800" style="padding-top: 12px">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <figure class="highcharts-figure">
                                <div id="container"></div>

                                
        
                            </figure>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <figure class="highcharts-figure">
                                <div id="container2"></div>
                            </figure>
                        </div>

                            <div class="col-lg-6 mb-4">
                            <!-- Set List -->
                            <div class="card shadow mb-4" style="height:90vh; width:100%">
                                <div class="card-header py-3">
                                    <div style="float:left">
                                        <h6 class="m-0 font-weight-bold text-primary">My Portfolios</h6>
                                    </div>
                                    <div style="float:right" style="margin:0 auto; padding:0; border:0">
                                        <div class="btn btn-primary btn-icon-split" style="height:30px; margin-bottom: 4px; width:100%">
                                            <!-- upload dataset button -->
                                            <button class="open-button" id="myBtn" style="background-color: #36b9cc; text-align: center; margin: 0 auto; padding: 2px 12px; color:white">Upload Portfolio</button>
            <!-- The Modal -->
                                            <div id="myModal" class="modal">

                                            <!-- Modal content -->
                                            <div class="modal-content">
                                                <span class="close">&times;</span>
                                                    <h3 style="padding-bottom: 1%">Upload Portfolio</h3>
                                                    <form action = "/upload/" method="POST" enctype='multipart/form-data' style="color:black; display:inline-block">
                                                        {% csrf_token %}
                                                        {{ form }}
                                                        <label style="width:33%; font-size: 15px; margin-left: -5%" for="dataname">Portfolio Name:</label>
                                                        <input style="width:65%; height:10px; size:50; padding:4; margin-top:0; float:right" type="text" name="name" required><br><br>
                                                        <label style="width:33%; font-size: 15px; margin-left: -5%" for="dataname">Available Budget:</label>
                                                        <input style="width:65%; height:10px; size:50; padding:4; margin-top:0; float:right" type="text" name="budget" required><br><br>
                                                        <input type="file" id="dataFile" name="Project Data" accept=".csv, .xlsx" style="float: left;  margin-bottom:-10%">
                                                        <input type="submit" value="Submit File" style="float:right;  padding-bottom: 0px">
                                                    </form>
                                            </div>

                                            </div>

                                            <script>
                                            // Get the modal
                                            var modal = document.getElementById("myModal");

                                            // Get the button that opens the modal
                                            var btn = document.getElementById("myBtn");

                                            // Get the <span> element that closes the modal
                                            var span = document.getElementsByClassName("close")[0];

                                            // When the user clicks the button, open the modal 
                                            btn.onclick = function() {
                                            modal.style.display = "block";
                                            }

                                            // When the user clicks on <span> (x), close the modal
                                            span.onclick = function() {
                                            modal.style.display = "none";
                                            }

                                            // When the user clicks anywhere outside of the modal, close it
                                            window.onclick = function(event) {
                                            if (event.target == modal) {
                                                modal.style.display = "none";
                                            }
                                            }

                                            </script>
           <!-- End Modal -->
                                            
            <!-- End Lists JS -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="overflow-y: auto; max-height:90vh">
                                    <div class="portfolio_list">

                                    </div>
 <!----                              {% for data in sets %}
                                    <form action = "/view" method="get" style="margin:0; padding:0; border:0">
                                        <h4 class="small font-weight-bold">Name: {{data.name}}</h4>
                                        <h4 class="small font-weight-bold">Size: {{data.size}}</h4>
                                        <h4 class="small font-weight-bold">Total Budget: ${{data.budget}}</h4>
                                        <h4 class="small font-weight-bold">Approved Projects Value: ${{data.approved}}</h4>
                                        <h4 class="small font-weight-bold">Creation Date: {{data.created_at}}</h4>
                                        <h4 class="small font-weight-bold">Last Updated: {{data.updated_at}}</h4>
                                        <div class="btn btn-primary btn-icon-split" style="height:30px; margin-bottom: 8px; width:33%; float:left; padding:0">
                                            <button type ="submit" name="datasetid" style="background-color: #4e73df; text-align:center; padding: 2px 0; color:white" value={{data.id}}>View Data</button>
                                        </div>
                                    </form>
                                    <form style="margin:0; padding:0; border:0">
                                        <div class="btn btn-primary btn-icon-split" style="height:30px; margin-bottom: 8px; width:67%; float:center">
                                            <button formaction="/edit" formmethod="get" type ="submit" name="dsid" style="background-color: #56c7e2; text-align:center; padding: 2px 0; color: white" value={{data.id}}>Edit</button>
                                                {% csrf_token %}
                                            <button formaction="/delete_dataset/" formmethod="post" type ="submit" name="dsid" style="background-color: #c93325; text-align:center; padding: 2px 0; color:white" value={{data.id}}>Delete</button>
                                        </div>   
                                    </form>    
                                {% endfor %}                    -->
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 mb-4" style="float:left">

                            <!-- Model List -->
                            <div class="card shadow mb-4" style="height: 90vh">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary" style="padding-bottom: 15px">Model List</h6>
                                </div>
                                <div class="card-body" style="overflow-y:auto; max-height: 90vh">
                                    <div class="model_list">

                                    </div>
 <!----                                   {% for data in sets2 %}
                                    <table style="border-bottom: 2px;">
                                        <h4 class="small font-weight-bold">Name: {{data.name}}</h4>
                                        <h4 class="small font-weight-bold">Description: {{data.details}}</h4>
                                        <h4 class="small font-weight-bold">Creation Date: {{data.created_at}}</h4>
                                        <h4 class="small font-weight-bold">Accuracy: {{data.accuracy}}%</h4>
                                        <form action = "/delete_model/" method="POST" style="width:100%; margin:0; padding:0; border:0">
                                            {% csrf_token %}
                                            <div class="btn btn-primary btn-icon-split" style="height:30px; margin-bottom: 8px; width:33%">
                                                <button type ="submit" name="model" style="background-color: #c93325; text-align:center; padding: 2px 0; color:white" value={{data.id}}>Delete</button>
                                            </div>   
                                        </form>   
                                        <br><hr class="sidebar-divider my-0" style="border-bottom:1px solid black"><br>
                                    </table>
                                    {% endfor %}                           -->
                                </div>
                            </div>
                        </div>
                        <script>
                            // for the set list
                            var form_add = "";
                            var sets_data = JSON.parse("{{sets|escapejs}}");
                            $.each(sets_data, function (index, val){
                                form_add += '<form action = "/view" method="get" style="margin:0; padding:0; border:0">'
                                form_add += '<h4 class="small font-weight-bold">Name: ' + val['name'] +'</h4>';
                                form_add += '<h4 class="small font-weight-bold">Size: ' + val['size'] +'</h4>';
                                form_add += '<h4 class="small font-weight-bold">Total Budget: $' + val['budget'].toLocaleString() +'</h4>';
                                form_add += '<h4 class="small font-weight-bold">Approved Projects Value: $' + val['approved'].toLocaleString() +'</h4>';
                                form_add += '<h4 class="small font-weight-bold">Creation Date: ' + val['created_at'] +'</h4>';
                                form_add += '<h4 class="small font-weight-bold">Last Updated: ' + val['updated_at'] +'</h4>';
                                form_add += '<div class="btn btn-primary btn-icon-split" style="height:30px; margin-bottom: 8px; width:33%; float:left; padding:0">';
                                form_add += '<button type ="submit" name="datasetid" style="background-color: #4e73df; text-align:center; padding: 2px 0; color:white" value=' + val['id'] + '>View Data</button> </div> </form>';
                                form_add += '<form style="margin:0; padding:0; border:0">';
                                form_add += '<div class="btn btn-primary btn-icon-split" style="height:30px; margin-bottom: 8px; width:67%; float:center">';
                                form_add += '<button formaction="/edit" formmethod="get" type ="submit" name="dsid" style="background-color: #56c7e2; text-align:center; padding: 2px 0; color: white" value=' + val['id'] + '>Edit</button>'
                                form_add += '{% csrf_token %}'
                                form_add += '<button formaction="/delete_dataset/" formmethod="post" type ="submit" name="dsid" style="background-color: #c93325; text-align:center; padding: 2px 0; color:white" value=' + val['id'] + '>Delete</button> </div> </form>'
                            });

                            // for the model list
                            var form_add2 = "";
                            var sets2_data = JSON.parse("{{sets2|escapejs}}");
                            $.each(sets2_data, function(index, val){
                                form_add2 += '<table style="border-bottom: 2px;">'
                                form_add2 += '<h4 class="small font-weight-bold">Name: ' + val['name'] + '</h4>'
                                form_add2 += '<h4 class="small font-weight-bold">Description: ' + val['details'] + '</h4>'
                                form_add2 += '<h4 class="small font-weight-bold">Creation Date: ' + val['created_at'] + '</h4>'
                                form_add2 += '<h4 class="small font-weight-bold">Accuracy: ' + val['accuracy'].toFixed(4) + '</h4>'
                                form_add2 += '<form action = "/delete_model/" method="POST" style="width:100%; margin:0; padding:0; border:0">'
                                form_add2 += '{% csrf_token %}'
                                form_add2 += '<div class="btn btn-primary btn-icon-split" style="height:30px; margin-bottom: 8px; width:33%">'
                                form_add2 += '<button type ="submit" name="model" style="background-color: #c93325; text-align:center; padding: 2px 0; color:white" value=' +val['id'] + '>Delete</button> </div> </form>'
                                form_add2 += '<br><hr class="sidebar-divider my-0" style="border-bottom:1px solid black"><br> </table>'
                            });

                            $(document).find('.portfolio_list').html(form_add);
                            $(document).find('.model_list').html(form_add2);
                        </script>
                            <!-- Approach -->
                            <div class="card shadow mb-4" style="opacity:100;">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                                </div>
                                <div class="card-body">
                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in order to reduce
                                        CSS bloat and poor page performance. Custom CSS classes are used to create
                                        custom components and custom utility classes.</p>
                                    <p class="mb-0">Before working with this theme, you should become familiar with the
                                        Bootstrap framework, especially the utility classes.</p>
                                </div>
                            </div>

                        </div>

                </div>
                <!-- /.container-fluid -->

            </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
<script>

    var pieModels = [];
    var pieModelsInner = [];
    var color_data = [
                        {'colorInner' : '#0000FF', 'colorOuter1' : '#0050B9', 'colorOuter2' : '#77B7FF'},
                        {'colorInner' : '#FF0000', 'colorOuter1' : '#B80035', 'colorOuter2' : '#FFA0A0'},
                        {'colorInner' : '#f6c23e', 'colorOuter1' : '#00C7D9', 'colorOuter2' : '#ffe4a0'},
                        {'colorInner' : ' #00FF00', 'colorOuter1' : '#61FF61', 'colorOuter2' : '#9BFF9B'},
                        {'colorInner' : '#FF7F00', 'colorOuter1' : '#FFAA54', 'colorOuter2' : '#FFCE9C'}
    ];
    var bar_model_data =JSON.parse("{{model_info|escapejs}}") ;
    var budget_data = JSON.parse("{{budget_info|escapejs}}");
    var color_data_3 = []

    for (i = 0; i < budget_data.length; i += 1) {
        color_data_3.push(color_data[i].colorInner)
    }
    
    for (i = 0; i < budget_data.length; i += 1) {
        pieModels.push({
            name: "Total Approved", 
            y: budget_data[i].approved, 
            color: color_data[i].colorOuter1
        },
        {
            name: "Total Remaining", 
            y: budget_data[i].budget - budget_data[i].approved, 
            color: color_data[i].colorOuter2
        });
    }
    

    for (i = 0; i < budget_data.length; i += 1) {
        pieModelsInner.push({
            name: budget_data[i].name, 
            y: budget_data[i].budget, 
            color: color_data[i].colorOuter1
        });
    }



    var bar_model_names = []
    var budget_values_total = []
    var budget_values_approved = []
    var budget_values_remaining = []
    for (i = 0; i < budget_data.length; i += 1) {
        bar_model_names.push(budget_data[i].name);
        budget_values_total.push(budget_data[i].budget);
        budget_values_approved.push(budget_data[i].approved);
        budget_values_remaining.push(budget_data[i].budget - budget_data[i].approved);
    }
    Highcharts.chart('container', {
        title: {
            text: "Portfolio Chart"
        },
        subtitle: {
            text: 'Approved & Remaining Budgets'
        },
        xAxis: {
            categories: bar_model_names
        },
        yAxis: {
            title: {
                text: "Dollars $"
            }
        },
        labels: {
            items: [{
                html: 'pie chart name',
                style: {
                    left: '40px',
                    top: '-40px',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcarts.defaultOptions.title.style.color
                    ) || 'black'
                }
            }]
        },
        series: [{
            type:'column',
            showInLegend: false,
            name: ''
        },  {
            type: 'column',
            showInLegend: false,
            name: ''
        },  {
            type: 'column',
            name: "Total Budget",
            showInLegend: false,
            data: budget_values_total
        }, {
            type: 'column',
            name: "Total Approved",
            showInLegend: false,
            data: budget_values_approved
        }, {
            type: 'column',
            name: "Total Remaining",
            showInLegend: false,
            data: budget_values_remaining
        },
        {
            type: 'pie',
            name: 'Amount',
            data: pieModelsInner,
            dataLabels: {
                enabled: true,
                formatter: function () {
                    return this.y > 5 ? this.point.name : null;
                },
                color: '#ffffff',
                distance: -30
            },
            center: [60, 40],
            size: 135,
            showInLegend: true,
        }]
    });

</script>

{% endblock %}
